/* ===== ABOUT =====*/
.about__container{
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
}
.about__img{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  width: 120px;
  height: 120px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}
.about__img img{
  width: 100px;
}
.about__subtitle{
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}
.about__text{
  margin-bottom: var(--mb-4);
}
.about__profession{
  display: block;
  margin-bottom: var(--mb-4);
}
.about__social-icon{
  font-size: 1.4rem;
  margin: 0 var(--mb-1);
}
.about__social-icon:hover{
  color: var(--first-color);
}